* {
 margin: 0px;
 padding: 0px;
 border: 0px
}

body {
  font: 100 10px/12px "Trebuchet MS", sans-serif;
  height: 101%;
  /*background: rgb(160,160,160);*/
}

div.size {
	margin: 0 auto 0 auto;
}

div.size input[type="radio"] {
	background: rgb(255,255,255);
	border: hidden;
}

div.size input[type="radio"]:checked {
	color: black;
}

/*-------------------------------------------------PAINT--------------------*/

div#paint {
	text-align: center;
}

form span {
  font: 100 25px/25px "Trebuchet MS", sans-serif;
}

form div#form_div {
  position: relative;
  top: 50px;
}

form#form_size {
  font: 100 20px/20px "Trebuchet MS", sans-serif;
  position: relative;
  top: -105px;
}

input.info {
  width: 200px;
  font: 100 22px/22px "Myriad Pro", sans-serif;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid grey;
  background: white;  
  margin: 0 10px 0 10px;
  padding: 3px;
}

input.size {
  width: 50px;
  font: 700 16px/16px "Myriad Pro", sans-serif;
  height: 22px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid grey; 
  margin: 0 10px 0 10px;
  padding: 3px;
}

input.info:focus, input.size:focus {
  box-shadow: 0 0 10px 0 rgb(60,120,250);
  -moz-box-shadow: 0 0 10px 0 rgb(60,120,250);
  -webkit-box-shadow: 0 0 10px 0 rgb(60,120,250);
}


div#paint input[type="submit"] {
  color: white;
  font: 800 15px/15px "Trebuchet MS", sans-serif;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgb(60,60,60);
  border: 1px solid rgb(60,60,60);
  margin: 20px 20px 20px 20px; 
}

input[type="submit"]#submit_size {
  font: 800 13px/13px "Trebuchet MS", sans-serif;
  height: 22px;
  width: 60px;
}

/*-------------------------------------------------DATABASE--------------------*/

div#database  {
	text-align: center;
}

div#database form {
	display: inline-block;
}

.sort {
	display: inline-block;
	font: 800 16px/16px "Trebuchet MS", sans-serif;
	text-decoration: none;
	color: white;
	background: rgb(50,50,50);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 15px 5px 10px 5px;
	padding: 6px;
}

.sort:hover {
	background: rgb(100,100,100);
}

.sort:active {
	background: rgb(150,150,150);
	box-shadow: inset 0 0 5px black;
	-moz-box-shadow: inset 0 0 5px black;
	-webkit-box-shadow: inset 0 0 5px black;
}

div#database b {
	font: 900 20px/20px "Trebuchet MS", sans-serif;
}


div#database table {
	text-align: left;
	font: 500 14px/14px "Trebuchet MS", sans-serif;
	margin: 15px auto 0px auto;
	color: rgb(50,50,50);
	border: 2px solid rgb(160,160,160);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px;
}

div#database table th {
	text-align: center;
    font: 900 16px/16px "Trebuchet MS", sans-serif;
    color: rgb(50,50,50);
	background:;
	padding: 10px;
	text-shadow: 0 1px 0px white;	
}

div#database tr {
}

div#database table td{
	max-width: 200px;
	background:;
	border: 1px solid rgb(160,160,160);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 4px 6px 4px 6px;
}

div#database table td a{
	font: 700 14px/14px "Trebuchet MS", sans-serif;
	color: rgb(50,50,50);
}


div.up{
    display: inline-block;
	height: 8px;
	background: rgb( 40, 210, 60);
}
div.down{
    display: inline-block;
	height: 8px;
	background: red;
}


div#database a.num {
	display: inline-block;
	font: 700 16px/16px "Trebuchet MS", sans-serif;
	color: rgb(50,50,50);
	margin: 20px 5px 0px 5px;
}

/*-------------------------------------------------Display--------------------*/

div#display {
	text-align: center; 
}

div#display div.rate {
	display: inline-block;
	text-align: left;
	background: rgb(230,230,230);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 4px;
}

div#display form {
	display: inline-block;
}
 
div#display .up_button {
    cursor: pointer;
	height: 18px;
	width: 16px;
	margin: 0px 5px 0px 0px ;
	background: url(../img/thumbs_up.png) no-repeat center;
}

div#display .up_button:hover {
	background: url(../img/thumbs_up_green.png) no-repeat center;
}

div#display .down_button {
    cursor: pointer;
	height: 18px;
	width: 16px;
	margin: 0px 10px 0px 0px ;
	background: url(../img/thumbs_down.png) no-repeat center;
}

div#display .down_button:hover {
	background: url(../img/thumbs_down_red.png) no-repeat center;
}

div#display div.wrap_bar {
	display: inline-block;
}


/*-------------------------------------------------FOOTER--------------------*/

div#footer {
	vertical-align: middle;
    text-align: center;
	color: grey;
	margin: 40px 0 15px 0;
}


